body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.table2{
   border-spacing: 0 20px; 
}

.box1{
    text-align: center;
    background-color: darkred;
}

.box2{
    text-align: center;
    background-color: deeppink;
}

.box3{
    text-align: center;
    background-color: brown;
}

.box_text_color{
    color: white;
    padding: 10px;
    margin: 0;
}

.box_text_color p{
    color: inherit;
    font-size: 16px;
    font-family: Arial;
}

.box_text_color a{
    color: inherit;
}

.td_image_cell{
    width: 570px;  
}

.td_image_cell img{
    width: 100%;
    height: 100%;
}

p{
    font-family: Arial;
    font-size: 16px;
    color: #3d3d3d;
}